<!DOCTYPE html>

<html>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/controller.js"></script>
    <script src="/js/view.js"></script>
  </head>

  <body>

    <h1>Hello World!</h1>

    <div id="start-panel">
      <button id="ready-btn">Ready!</div>
    </div>

    <div id="in-progress-panel">
      <p>Hallo</p>
    </div>

    <div id="end-panel">
    </div>

  </body>
</html>